html
  head
    title= title
  body
    img(src=url, alt="alt")
    a(href="/deal/interesting/"+id+"/true")="Interesting"
    a(href="/deal/interesting/"+id+"/texture")="Texture"
    a(href="/deal/interesting/"+id+"/scene")="Scene"
    a(href="/deal/interesting/"+id+"/false")="No"
    pre= message
    
